/* colors */
/* background-color: #3D516B; dark navy */ 
/* background-color: #97b9e6 sky navy */


*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

ul, a {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(81, 81, 81);
}

a:hover{
    color: rgb(33, 33, 33);
}

main{
    border:1px solid rgb(0, 255, 68);
    height: 100vh;
    display: flex;
    align-items: center;
}
.form-container{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    width: 50%;
    min-width: 300px;
    max-width:400px;
    height: 50%;
    min-height: 300px;
    margin: 0 auto;
    padding: 20px;
}
.form-header{
    display: flex;
    justify-content: center;
    height: 55px;
}

.form-body-wrapper{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.form-body{
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.form-body input {
    padding: 10px 5px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 5px;
}

.form-body button{
    padding: 10px 5px;
    background-color: #6498dc;
    color:aliceblue;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: background 250ms ease-in-out;
}
.form-body .sign-up-btn{
    background-color: #7f8996;
}
.form-body .sign-up-btn:hover{
    background-color: #2b2b2c;
}

.form-body button:hover{
    cursor: pointer;
    background:#4d89d8;
}

/* active - holding down left mouse click or space  */
.form-body button:active {
    transform: scale(0.99);
}

/* focus-visible, focus - tabbing  */
.form-body button:focus-visible, input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px rgb(135, 166, 250);
}

.form-body-dividers-container{
    display: flex;
    justify-content: center;
}

.form-body-dividers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-body-dividers-container span{
    color:#3d3d3d;
    
}

.form-body-divider{
    background-color:#6381A8;
    width: 45%;
    height: .1px;
}

.form-footer{
    height: 55px;
    
}

.form-footer ul{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}
.form-footer li {
    margin-right: 10px;
    display: flex;
    font-size: 14px;
    position: relative;
}

.form-footer li:not(:first-child)::after{
    content: "";
    display: block;
    border: .1px solid rgb(225, 225, 228);
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
}
